<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loaninformationUserID_style.css')}}">
    <title>Account information by User Id</title>
</head>
<body>
    <div id="container">
        <hr>
        <div>
            {% if data_from_db %}
            <table>
                <thead>
                    <tr>
                        <th>َAccount Number</th>
                        <th>Username</th>
                        <th>Amount</th>
                        <th>Block</th>
                        <th>Loan</th>
                        <th>Date Created</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for row in data_from_db %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <!-- Add more columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No data available from the database.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>