<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/accountinformation" method="post">
            <lable for="account">Account Number</lable>
            <input type="number" id="account" name="account">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <form action="/accountinformation" method="post">
            <lable for="userID">User ID</lable>
            <input type="text" id="userID" name="userID">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>