<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getloan_style.css')}}">
    <title>Sign Up</title>
</head>
<body>
    <div id="container1">
        <form action="/getloan" method="post">
            <h2>Get Loan</h2>

            <label for="account">Account Number:</label>
            <input type="number" id="account" name="account" required>

            <button type="submit">Get Loan</button>
        </form>
    </div>
    <div id="container2">
        <form action="/loanscore" method="post">
            <h2>Loan Score</h2>

            <label for="loanscore_account">Account Number:</label>
            <input type="number" id="loanscore_account" name="loanscore_account" required>

            <button type="submit">Loan Score</button>
        </form>
    </div>
    <script>
        // Assuming 'message' is a variable passed from Flask
        let message = "{{ message }}";

        // Check if the message is equal to "Unsuccessful"
        if (message === "Unsuccessful") {
            // Show a pop-up alert
            alert('Unsuccessful!');
        } else if (message === "Successful"){
            alert('Successful')
            // Do nothing or perform other actions
        }
    </script>

    <script>
        // Assuming 'message' is a variable passed from Flask
        let loanscore = "{{ loanscore }}";

        // Check if the message is equal to "Unsuccessful"
        if (loanscore > 0) {
            // Show a pop-up alert
            alert("The Loan Score is: " + loanscore);
        } else if (loanscore === "Unsuccessful"){
            alert(loanscore);
            // Do nothing or perform other actions
        }
    </script>
</body>
</html>