<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
</head>
<body>
    <a href="/newaccount">Create new account</a> 
    <a href="/accountinformationuserid">Your accounts information</a> 
    <a href="/accountinformationnumber">Account information by Account Number</a> 
    <a href="/moneytransfer">Transfer money</a> 
    <a href="/transactionsdate">Your transactions specify by date</a> 
    <a href="/transactionsnumber">Your transactions specify by number</a> 
    <a href="/blockaccount">Block account/Unblock account</a>  
    <a href="/loans">Loans</a> 
    <a href="/changepassword">Change Password</a> 
</body>
</html>