<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
</head>
<body>
    <a href="/newaccount">Create new account</a> 
    <a href="/accountinformation">Account information</a> 
    <a href="/changepassword">Transfer money</a> 
    <a href="/changepassword">Your last transactions by Number</a> 
    <a href="/changepassword">Your last transactions by Date</a>
    <a href="/changepassword">Block account</a>  
    <a href="/changepassword">Loans</a> 
</body>
</html>