<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paymentinfo.css')}}">
    <title>payment information</title>
</head>
<body>
    <div id="container">
        <div id="form-group">
            <div class="form">
                <h2>Payment information</h2>
                <form action="/paymentinformation" method="post">
                    <lable for="account">Account Number</lable>
                    <input type="number" id="account" name="account">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="form">
                <h2>Pay your installment</h2>
                <form action="/payinstallment" method="post">
                    <lable for="account">Account Number</lable>
                    <input type="number" id="account" name="account">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <hr>
        <div>
            {% if data_from_db %}
            <table>
                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Paid Status</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for row in data_from_db %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <!-- Add more columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No data available from the database.</p>
            {% endif %}
        </div>
    </div>
    <script>
        // Assuming 'message' is a variable passed from Flask
        let message = "{{ message }}";

        // Check if the message is equal to "Unsuccessful"
        if (message === "Unsuccessful") {
            // Show a pop-up alert
            alert('Unsuccessful!');
        } else if (message === "Successful"){
            alert('Successful')
            // Do nothing or perform other actions
        }else if (message === 'Dont have enough money!'){
            alert('Dont have enough money!')
        }
    </script>
</body>
</html>