<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup_style.css')}}">
    <title>Sign Up</title>
</head>
<body>
    <div id="container">
        <div id="box-sign-up">
        <form action="/signup" method="post">
            <h2>Sign Up</h2>
            <div class="input">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="input">
                <label for="lastname">Lastname:</label>
                <input type="text" id="lastname" name="lastname" required>
            </div>
            <div class="input">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input">
                <label for="phone">Phone Number:</label>
                <input type="number" id="phone" name="phone" required>
            </div>

            <div class="input">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div id="btn">
                <button type="submit" id="btn-sign-up">Sign Up</button>
                <a href="/login" id="log-in">have an account?Log in</a>
            </div>

        </form>
        </div>
    </div>
    <script>
        // Assuming 'message' is a variable passed from Flask
        let message = "{{ message }}";

        // Check if the message is equal to "Unsuccessful"
        if (message === "Unsuccessful") {
            // Show a pop-up alert
            alert('Unsuccessful!');
        } else {
            // Do nothing or perform other actions
        }
    </script>
</body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="post">
        <h2>Sign Up</h2>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="lastname">Lastname:</label>
        <input type="text" id="lastname" name="lastname" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Phone Number:</label>
        <input type="number" id="phone" name="phone" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sign Up</button>
        <a href="/login">Log in</a>
    </form>
    <script>
        // Assuming 'message' is a variable passed from Flask
        var message = "{{ message }}";

        // Check if the message is equal to "Unsuccessful"
        if (message === "Unsuccessful") {
            // Show a pop-up alert
            alert('Unsuccessful!');
        } else {
            // Do nothing or perform other actions
        }
    </script>
</body>
</html> -->
