<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transactionDate_style.css')}}">
    <title>Transaction by Date</title>
</head>
<body>
    <div id="container">
        <div id="form">
            <h2>Tranaction by Date</h2>
            <form action="/transactionsdate" method="post">
                <lable for="account">Account Number</lable>
                <input type="text" id="account" name="account">
                <lable for="start">From</lable>
                <input type="text" id="start" name="start" placeholder="yyyy-mm-dd">
                <lable for="end">To</lable>
                <input type="text" id="end" name="end" placeholder="yyyy-mm-dd">
                <button type="submit">Submit</button>
            </form>
        </div>
        <hr>
        <div>
            {% if data_from_db %}
            <table>
                <thead>
                    <tr>
                        <th>َSource</th>
                        <th>Destination</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Source Amount</th>
                        <th>Destination Amount</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for row in data_from_db %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <!-- Add more columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No data available from the database.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>