<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/transactions" method="post">
            <lable for="Naccount">Account Number</lable>
            <input type="number" id="Naccount" name="Naccount">
            <lable for="number">Numebr</lable>
            <input type="number" id="number" name="number">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <form action="/transactions" method="post">
            <lable for="Daccount">Account Number</lable>
            <input type="text" id="Daccount" name="Daccount">
            <lable for="start">From</lable>
            <input type="text" id="start" name="start" placeholder="yyyy-mm-dd">
            <lable for="end">To</lable>
            <input type="text" id="end" name="end" placeholder="yyyy-mm-dd">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>